body {
  margin: 0;
  padding: 0;
}

.alert-content {
  /** It's 160px, but there is slight error margin while calculating - not sure, but providing extra 5px prevents scroll bar*/
  min-height: calc(100% - 4.5em);
  height: calc(100% - 4.5em);
  overflow: visible;
}

/* Style only for Google Chrome/Opera */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .alert-content {
    /** It's 160px, but there is slight error margin while calculating - not sure, but providing extra 5px prevents scroll bar*/
    min-height: calc(100% - 4.5em);
    overflow: visible;
  }
}

/* Style only for Mozilla Firefox */
@-moz-document url-prefix() {
  .alert-content {
    /** It's 160px, but there is slight error margin while calculating - not sure, but providing extra 5px prevents scroll bar*/
    min-height: calc(100% - 4.5em);
    height: calc(100% - 4.5em);
    overflow: visible;
  }
}

/* Style only for Internet Explorer */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .alert-content {
    /** It's 160px, but there is slight error margin while calculating - not sure, but providing extra 5px prevents scroll bar*/
    min-height: calc(100vh - 4.5em);
    height: calc(100% - 4.5em);
    overflow: visible;
  }
}
